html {
}

body {
    margin: 0px;
    margin-top: 20px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

div, span, td, body, button, select {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 8pt;
}

button, select {
    border: 1px solid black;
    padding: 3px;
}

button:hover, select:hover {
    background-color: lightgrey;
}

canvas.draw-map {
    border: 1px solid black;
    display: inline-block;
    
    margin-top: 10px;
}

select.country_list {
    width: 200px;
}

select.country_list:hover {
    background-color: white;
}

span.dropdown {
    width: 201px;
    display: inline-block;
    text-align: right;
}

span.header {
    width: 401px;
    display: inline-block;
    
    font-weight: 700;
    font-size: 12pt;
    
    text-align: left;
    
    cursor: default;
}

img.hidden {
    display: none
}

div.quickdetails {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    
    padding: 5px;
    position: absolute;
}

div.article_list {
    display: inline-block;
    border: 1px solid black;
    
    width: 594px;
    padding: 3px;
}

span.article_list_country {
    text-align: left;
    font-size: 12pt;
    
    cursor: default;
}

span.article_list_header {
    text-align: left;
    font-size: 12pt;
    
    width: 100%;
    
    display: inline-block;
    cursor: default;
}

span.article_list_contents {
    cursor: default;
}

div.link_container {
    width: 100%;
    display: inline-block;
    
    padding-top: 2px;
    padding-bottom: 2px;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #eeeeee;
}

span.link_portal {
    width: 28%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    
    background-color: transparent;
}

span.link_title {
    width: 70%;
    display: inline-block;
    text-align: left;
    
    text-decoration: underline;
    background-color: transparent;
    
    font-weight: 300;
    font-size: 10pt;
}
